#ENVIRONMENT
ENVIRONMENT=DEV

#DATABASE
DATABASE_URL=postgresql://app:app@localhost:5432/app

#BETTER_AUTH
BETTER_AUTH_SECRET=dev-secret-change-me-use-openssl-rand-base64-32
BETTER_AUTH_URL=http://localhost:3000
